<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><style>
    body {background-color: powderblue;}
    h1 {color: GREEN;}
  </style><h1>From Job:C:\Users\kizsa\Desktop\daddddd\logfile2<h1></head>


  <body>



 <script>   
  var selectvalue = document.getElementById("selectvalue"), test = {{ name | tojson }};
  var selectvalue2=document.getElementById("selectvalue"), test2 = {{ allresults | tojson }};;

function displayvar(){
    var result = prompt('Type which detailed reason you would like to see');

    alert(test[result])
}
function displayvar2(){
    var result = prompt('type which testcase number youd like to see');

    document.write(test2[result])
  

}



</script>

<script type="text/javascript">
        $(document).ready(function () {

$("#flip").click(function () {
            $("#panel").slideToggle("slow");
        });

        $("#flip1").click(function () {
            $("#panel1").slideToggle("slow");
        });

           //Filter table
           $("#myInput").on("keyup", function () {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").slice(1).filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
});
            
 });
</script>
<button class="displayvar" onclick="displayvar();"> Detailed reason</button>
<button class="displayvar2" onclick="displayvar2();"> Testcase log </button>
<a href="/my-link/">Delete DB items </a>


</body>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <body style="background-color:lightblue;">
<div id="flip">Show table</div>
   <div id="panel">
   <br />
   <span>Result Filter</span>
    <input id="myInput" class="fortextbox" type="text" placeholder="Search.." >
   <br /><br /><br />  
VERSION INFO:*    1 65    C9300-48H          17.03.04          CAT9K_IOSXE           INSTALL\
<table id="myTable">
<thead>
<tr><th style="text-align: right;">  S.No</th><th>Testcase                    </th><th>Result:  </th><th>SECTION                      </th><th>Reason                        </th><th>Analysis    </th></tr>
</thead>
<tbody>
<tr><td style="text-align: right;">     0</td><td>CallsiteMemLeakReportInitial</td><td>FAILED   </td><td>section test_case            </td><td>Mem leak found before the run\</td><td>Script issue</td></tr>
<tr><td style="text-align: right;">     1</td><td>FinalMemLeakReport          </td><td>FAILED   </td><td>section check_final_mem_leaks</td><td>Memory Leaks Found\           </td><td>Script issue</td></tr>
<tr><td style="text-align: right;">     2</td><td>CallsiteMemLeakReportFinal  </td><td>FAILED   </td><td>section test_case            </td><td>Mem leak found before the run\</td><td>Script issue</td></tr>
<tr><td style="text-align: right;">     3</td><td>InitialMemLeakReport        </td><td>PASSED   </td><td>                             </td><td>                              </td><td>            </td></tr>
<tr><td style="text-align: right;">     4</td><td>TriggerInterfaceFlaps       </td><td>PASSED   </td><td>                             </td><td>                              </td><td>            </td></tr>
<tr><td style="text-align: right;">     5</td><td>TriggerVlanInterfaceFlaps   </td><td>PASSED   </td><td>                             </td><td>                              </td><td>            </td></tr>
<tr><td style="text-align: right;">     6</td><td>TriggerClearIPOspfProcess   </td><td>PASSED   </td><td>                             </td><td>                              </td><td>            </td></tr>
<tr><td style="text-align: right;">     7</td><td>TriggerClearIPDTProcess     </td><td>PASSED   </td><td>                             </td><td>                              </td><td>            </td></tr>
<tr><td style="text-align: right;">     8</td><td>TriggerClearIPRouteProcess  </td><td>PASSED   </td><td>                             </td><td>                              </td><td>            </td></tr>
<tr><td style="text-align: right;">     9</td><td>TriggerClearAuthSessions    </td><td>PASSED   </td><td>                             </td><td>                              </td><td>            </td></tr>
<tr><td style="text-align: right;">    10</td><td>TriggerClearFlowMonitorCace </td><td>PASSED   </td><td>                             </td><td>                              </td><td>            </td></tr>
<tr><td style="text-align: right;">    11</td><td>TriggerBgpNeighborFlap      </td><td>PASSED   </td><td>                             </td><td>                              </td><td>            </td></tr>
<tr><td style="text-align: right;">    12</td><td>TriggerVlanInterfaceFlaps   </td><td>PASSED   </td><td>                             </td><td>                              </td><td>            </td></tr>
</tbody>
</table></tbody><script>
   function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
</script>